<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DevOps Testing</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="sample">
      <form action="/table">
        <h1>Hello World !</h1>
        <h4>This is a sample web page</h4>
        <p>View the postgres contents</p>
        <button class="btn btn-primary">Lets Go!</button>
      </form>
    </div>
  </body>
</html>
